*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
    
}
section,footer{
    padding: 80px 8%;
    
}
.common-color{
   color: #2563EB;
}
.common-color-dark{
    color: #575757;
}
/* Common Button */
.common-btn{
    background-color:#1D4ED8;
    padding:10px 25px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.outline-btn{
    padding:10px 25px;
    color:#1D4ED8;
    font-weight: bold;
    border: 2px solid #1D4ED8;
    border-radius: 8px;
    cursor: pointer;
}
.outline-btn-premium{
    padding:10px 25px;
    color:black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:18px 8%;
}
/* Navbar menu */
.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}
 nav a{
    text-decoration: none;
    color: darkgrey;
}
/* Hero sytle CSS */
header{
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('./assets/banner.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
    position: relative;
}
.hero-parent{
    text-align: center;
    
    
}
.hero-parent h1{
    color: white;
    font-size:70px;
    font-weight: bold;
    
}
.hero-parent h1 span{
    font-style: italic;
}
.hero-parent p{
    font-size: 22px;
    color: #ffffffce;
}
.hero-parent button{
    font-size: 20px;
    padding:15px 35px;
    margin-top: 33%;
}

/* speakers style CSS */
.meet-the-speakers{
    text-align: center;
    font-size:25px;
    padding-bottom:30px;
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.speaker-card{
    background-color: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius: 12px;
}
.speaker-card h2,
.speaker-card p{
    padding:10px;
}
.speaker-card img{
    width:100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
   
}
/* Plan style CSS */
.pricing-heading{
    text-align: center;
    margin-bottom:60px ;
}
.pricing-heading h1{
    font-size: 48px;
    font-weight: bold;
}
.pricing-heading p{
    color: #575757;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    
}
.card{
    background-color: #FFFFFF;
    padding: 35px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    
}
.card h1{
    font-size: 42px;
    font-weight: bold;
}
.card p{
    font-family: verdana;
    
    font-size: 22px;
    color: #888888;
    margin-bottom: 8px;
}
.card hr{
    margin-bottom:12px;
}
.card ul{
    margin-bottom: 30px;
    padding-left: 20px;
}
.card li::marker {
    color: #2563EB;
}
.card ul li{
    padding: 10px;
    font-size: 20px;
}
.card button{
    width: 100%;
    padding: 15px;
    font-size: 16px;
}
.card button:hover{
    background-color:darkgray;
}
.premium{
    background-color: #0D1B2A;
    color: white;
}
.pro-color{
    color: #93C5FD !important;
}
/* FAQ style CSS */
.faq-heading{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.faq-heading h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;

}
.faq-heading p{
    color:#575757;
    margin-bottom: 30px;
}
.faq-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;


}
.faq-card{
    background-color: #FFFFFF;
    border-radius: 18px;
    box-shadow: 0 3px 10px #E5E7EB;
    width: 250px;
    height: 170px;
    padding: 25px;
    text-align: left;
    margin-left: 30%;
}
.faq-card h3{
    padding: 8px;
}
/* Footer style CSS */
footer{
    background-color: #0D1B2A;
    margin-bottom: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}
.social-icons span a{
    color: #FFFFFF;
    font-size: 23px;
    text-decoration: none;
    cursor: pointer;

}
.social-icons span a:hover{
    color:#0077ff;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: rgba(255, 255, 255, 0.452);
}
.policy a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.452);
}